<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
	<title>Teste 2 Angular JS</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.min.css" />
	<script src="lib/angular/angular.min.js"></script>

	<style>
	.jumbotron
	{
		width: 400px;
		text-align: center;
		margin: 20px auto 0;
	}
	.form-control
	{
		margin-bottom: 5px;
	}
	.selecionado
	{
		background-color: yellow !important;
	}
	</style>

	<script>
	angular.module("listaTelefonica", []);
	angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope)
	{
		$scope.app = "Lista Telefônica";

		$scope.contatos =
		[
			{ nome: "Pedro", telefone: "99887766" },
			{ nome: "Ana", telefone: "55443322" },
			{ nome: "Maria", telefone: "11223344" }
		]
		$scope.operadoras =
		[
			{ nome: "Oi", codigo: 1, categoria: "Celular" },
			{ nome: "Vivo", codigo: 2, categoria: "Celular" },
			{ nome: "Tim", codigo: 3, categoria: "Celular" },
			{ nome: "Claro", codigo: 4, categoria: "Celular" },
			{ nome: "GVT", codigo: 5, categoria: "Fixo" },
			{ nome: "Embratel", codigo: 6, categoria: "Fixo" }
		]

		// $scope.adicionaContato = function(nome, telefone)
		$scope.adicionarContato = function(contato)
		{
			// $scope.contatos.push({nome: $scope.nome, telefone: $scope.telefone})
			// $scope.contatos.push({nome: nome, telefone: telefone})
			$scope.contatos.push(angular.copy(contato));
			delete $scope.contato;
		}
		$scope.apagarContatos = function(contatos)
		{
			$scope.contatos = contatos.filter(function(contato)
			{
				if ( !contato.selecionado )
					return contato;
			});
		}
	});
	</script>
</head>
<body ng-controller="listaTelefonicaCtrl">
<div class="jumbotron">
	<h4>{{app}}</h4>
	<table class="table table-striped">
		<tr>
			<td></td>
			<td>Nome</td>
			<td>Telefone</td>
			<td>Operadora</td>
		</tr>
		<tr ng-repeat="contato in contatos" ng-class="{'selecionado': contato.selecionado}">
			<td><input type="checkbox" ng-model="contato.selecionado" /></td>
			<td>{{contato.nome}}</td>
			<td>{{contato.telefone}}</td>
			<td>{{contato.operadora.nome}}</td>
		</tr>
	</table>
	<input type="text" class="form-control" ng-model="contato.nome" placeholder="Nome" />
	<input type="text" class="form-control" ng-model="contato.telefone" placeholder="Telefone" />

	<!-- <select class="form-control" ng-model="contato.operadora" ng-options="operadora.codigo as operadora.nome for operadora in operadoras"> -->
	<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
		<option value="">Selecione uma operadora</option>
	</select>
	<button class="btn btn-primary btn-block" ng-disabled="!contato.nome || !contato.telefone" ng-click="adicionarContato(contato)">Salvar</button>
	<button class="btn btn-danger btn-block" ng-disabled="" ng-click="apagarContatos(contatos)">Apagar</button>

	
</div>
</body>
</html>